  <launch>
    <!-- Global Params-->
    <param name="model_dim" type="int" value="3" />

    <!-- Obstacle spawner-->
    <node pkg="turtlebot3_cbfs" type="graphics_broadcaster.py" name="graphics_broadcaster" output="screen">
        <rosparam param="poses">[[0.0, 2.0, 0.0]]</rosparam>
        <rosparam param="shapes">[[1.0, 1.0]]</rosparam>
    </node>

    <!-- Broadcast Lyapunov and Barrier-->
    <node pkg="turtlebot3_cbfs" type="clf_broadcaster.py" name="clf_broadcaster" output="screen">
        <param name="rate" type="double" value="100.0" />
        <param name="dim" type="int" value="2" />
        <rosparam param="lambdas">[1, 4]</rosparam>
        <rosparam param="epsilon">[0.0, 0.0]</rosparam>
    </node>

    <node pkg="turtlebot3_cbfs" type="cbf_broadcaster.py" name="cbf_broadcaster" output="screen">
        <param name="rate" type="double" value="100.0" />
        <param name="dim" type="int" value="2" />
    </node>

    <!-- Turtlebot controller-->
    <node pkg="turtlebot3_cbfs" type="QP_controller.py" name="QP_controller" output="screen">
          <param name="rate" type="double" value="100.0" />
          <rosparam param="ctrl_cost">[[1.0, 0.0],
                                       [0.0, 1.0]]</rosparam>
          <param name="delta_cost" type="double" value="4.0" />
          <param name="gamma" type="double" value="2.0" />
          <param name="alpha" type="double" value="1.0" />
    </node>

  </launch>